body
    background-color: $color-base
    font-size: $base-font-size
    font-family: $lato

header
    nav 
        a
            display: block        
            text-align: center
        
    .logo
        display: inline-block
        color: $color-brand
        font-weight: $font-bold
        text-decoration: none
        text-transform: uppercase
        border: 2px solid $color-brand
        padding: 5px
        margin: 5px
            

.b_masthead
    background-color: $color-brand 
    color: $color-base
    text-align: center
    font-size: $font-large
    padding: 150px 20px

.logo

