// Media query settings
$medium-screen: 640px
$large-screen: 960px

$nav-width: 200px

body
    background-color: $color-base
    font-size: $base-font-size
    font-family: $lato

header
    nav 
        position: absolute
        background-color: $color-base
        width: $nav-width

        a
            display: block
            padding: 20px
            color: $accent-color
            text-decoration: none
            text-align: center
            
            &:hover
                background: $accent-color
                color: $color-base
        
    .logo
        display: inline-block
        color: $color-brand
        font-weight: $font-bold
        text-decoration: none
        text-transform: uppercase
        border: 2px solid $color-brand
        padding: 5px
        margin: 20px
            
.site-wrap
    position: absolute
    left: $nav-width

    .b_masthead
        background-color: $color-brand 
        color: $color-base
        text-align: center
        font-size: $font-large
        padding: 150px 20px
